<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiangce.yueting.mapper.AlbumMapper">


    <select id="selectAlbumsByArtistId" resultType="com.jiangce.yueting.domain.po.Album">
        select a.*
        from album a
        inner join album_artist aa on a.album_id = aa.album_id and aa.artist_id = #{artistId}
        order by a.release_date desc
    </select>
    <select id="pageAlbumsByArtistId" resultType="com.jiangce.yueting.domain.po.Album">
        select a.*
        from album a
                 inner join album_artist aa on a.album_id = aa.album_id and aa.artist_id = #{artistId}
        order by a.release_date desc
    </select>
    <select id="selectAlbumWithAuthorById" resultType="com.jiangce.yueting.domain.vo.AlbumWithAuthor">
        select a.*,
               GROUP_CONCAT(DISTINCT art.artist_id) AS artist_ids,
               GROUP_CONCAT(DISTINCT art.artist_name) AS artist_names
        from album a
                 inner join album_artist aa on a.album_id = aa.album_id
                 inner join artist art on aa.artist_id = art.artist_id
        where a.album_id = #{id}
        group by a.album_id
    </select>
</mapper>